.bookmark-grid {
  margin: 80px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.bookmark-image {
  align-items: flex-start;
}

.bookmark-title {
margin-top: 15px;
}

.bookmark-overview {
  align-items: flex-start;
}

.bookmark-rating {
  // margin-bottom: 15px;
}
